@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

.list {
    text-align: center;
    font-family: 'Lusitana', serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 480px;
    
}

.item {
    width: 180px;
    text-align: center;
    font-size: 2em;
    font-style: italic;
}