@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

.centerBox{
    margin: auto;
    min-width: 490px;
    
    background-color: aliceblue;
}
.titleContato{
    font-family: 'Lusitana', serif;
    font-size: 3em;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 490px;
}
.boxContatos{
    font-family: 'Lusitana', serif;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
    max-width: 800px;
    min-width: 460px;
    padding-left: 0px;
}
.contato1{
    margin-top: 30px;
    max-width: 320px;
    font-size: 1.5em;
    margin-bottom: 30px;
}
.contato2{
    
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 320px;
    font-size: 1.5em;
}