@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');
.titleHome{
    padding-top: 50px;
    font-size: 2.0em;
}
div{
    text-align: center;
}
.tamanho{
    font-size: 1.3em;
}
.imagem{
    background-image: url('./violao.jpg');
    background-position: center center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(100%);
    height: 100vh;
    min-width: 480px;
}
.fundo{
    background-color: rgba(240, 248, 255, 0.658);
    max-width: 600px;
    height: 100%;
}
h3{
    font-family: 'Lusitana', serif;
    font-style: italic;
    margin-top: 10px;
    padding-top: 50px;
    font-size: 1.9em;
}
p{
    font-family: 'Lusitana', serif;
    font-style: italic;
    font-size: 1.5em;
}